/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#submit-email-form {
  position: relative;
}

#submit-email {
  font-family: "Es build", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  background-color: #0f0f14;
  background-image: url("https://assets-global.website-files.com/6146543ab50f167ae088b201/614bf40d5a8c0e3faef124af_logo-rect-02.svg");
  background-position: 90% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  transition: opacity 200ms ease, all 300ms ease;
  color: #fff;
  text-align: left;
  /* btn */

  position: absolute;
  width: 148px;
  height: 56px;
  top: 0;
  right: 0;

  /* UI/Black */

  border-radius: 28px;
  font-size: 20px;
}

#submit-email:hover {
  background-position: 94% 50%;
}

#email-field {
  -webkit-text-size-adjust: 100%;
  --swatch_b0d4f0ae: hsla(108.889, 87.1%, 93.92%, 1);
  --swatch_3112d71c: hsla(190.714, 100%, 83.53%, 1);
  --swatch_9f97b379: hsla(36.25, 100%, 81.18%, 1);
  --swatch_d730d2a6: hsla(14.2446, 100%, 72.75%, 1);
  --swatch_f90e88b9: hsla(349.44, 92.59%, 73.53%, 1);
  --swatch_38c4a0a8: hsla(259.038, 100%, 59.22%, 1);
  --swatch_998f0022: hsla(234.026, 92.03%, 49.22%, 1);
  --swatch_daff2561: hsla(240, 14.29%, 6.86%, 1);
  --swatch_19ffbe0a: hsla(45, 40%, 98.04%, 1);
  --swatch_d82f5b91: hsla(0, 0%, 100%, 1);
  --animate-line-color: #000000;
  --animate-line-speed: 0.2s;
  --animate-line-ease: cubic-bezier(0.12, 0, 0.39, 0);
  --blue-animate-line-color: #abf0ff;
  --blue-animate-line-speed: 0.2s;
  --blue-animate-line-ease: cubic-bezier(0.12, 0, 0.39, 0);
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  position: static;
  display: inline-block;
  width: 100%;
  height: 56px;
  padding: 12.5px 32px;
  border-radius: 28px;
  color: inherit;
  text-decoration: inherit;
  font-size: 20px;
}

#email-error-msg {
  color: #f87171;
  font-size: 18px;
  border-radius: 8px;
}

#email-error-msg > svg {
  margin-right: 5px;
}

#email-field.email-error {
  border-color: #f87171;
}

@media screen and (max-width: 350px) {
  #submit-email {
    font-size: 18px;
    background-image: none;
    width: 118px;
    padding: 0 25px;
  }
}
